<ion-view title="Preguntas frecuentes">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem at, officiis. Harum quod non asperiores fuga saepe laudantium accusantium, neque explicabo officiis illum ut voluptas quibusdam totam at eum nisi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aspernatur unde neque, rem iste maiores nobis, pariatur doloremque id illum veritatis, adipisci harum dolorum dicta qui eligendi. Non, dignissimos, porro!</p>
        <button class="button button-dark button-block" ng-click="app.showContact()">
            <i class="icon icon ion-paper-airplane"></i> ¿Tiene alguna pregunta?
        </button>
    </ion-content>
</ion-view>