<ion-view title="Inicio">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div style="line-height: 50px; text-align: center;">
            <img src="img/ccampo_logo_vertical.png" style="padding-top: 20px"></img>
        </div>
        <div ng-if="!app.currentUser">
            <button class="button button-dark button-block" ng-click="app.showLogin()">
                <i class="icon ion-log-in"></i> ENTRAR
            </button>
            <a href="#/app/signup" class="button button-assertive button-block" type="button">
                ¿No tiene un usuario?
            </a>
        </div>
        <div ng-if="app.currentUser">
            <ion-list>
                <div class="item item-divider">
                    {{ app.currentUser.rol|translate }}
                </div>
                <a class="item item-thumbnail-left" href="#">
                    <img src="http://www.gravatar.com/avatar/{{ app.currentUser.user|gravatar }}?s=80&d=http%3A%2F%2Fwww.micuadernodecampo.es%2Fimages%2Fuser.png">
                    <h2>{{ app.currentUser.nombre }}</h2>
                    <p>{{ app.currentUser.apellidos }}</p>
                </a>
                <button class="button button-balanced button-block" type="button" ng-click="app.goParcelas()">
                    <i class="icon ion-ios-list"></i> Mis parcelas
                </button>
            </ion-list>
        </div>
    </ion-content>
</ion-view>