<div class="modal">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Introduzca sus credenciales</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="home.closeLogin()"><i class="icon ion-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="home.doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="Escriba su usuario" ng-model="home.loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="Escriba su contraseña" ng-model="home.loginData.password">
                </label>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit"><i class="icon ion-log-in"></i> Entrar</button>
                </label>
            </div>
        </form>
    </ion-content>
</div>

