<ion-view title="Mis parcelas">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header" padding="true">
        <ion-refresher
            pulling-text="Estire para recargar..."
            on-refresh="parcelas.getParcelasFromServer()">
        </ion-refresher>
        <ion-list class="my-list">
            <ion-item class="item item-checkbox item-icon-left item-icon-right parcela" ng-repeat="parcela in parcelas.listado">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" ng-model="parcela.isChecked" ng-change="parcelas.toggleSelected(parcela.isChecked, parcela.id)">
                </label>
                <span class="balanced"><strong>{{ parcela.descripcion }}</strong></span>
                <span class="positive" ng-if="parcela.pa_cultivo"> - {{ parcela.pa_cultivo }}</span><br> 
                <span ng-if="parcela.pa_municipio && parcela.pa_provincia">{{ parcela.pa_municipio }} ({{ parcela.pa_provincia }})</span><br>  
                <a class="button button-icon icon ion-chevron-right balanced"
                   ng-href="#/app/parcelas/{{ parcela.id }}"
                   style="z-index: 1000"></a>
                <ion-option-button class="button-assertive" ng-click="parcelas.removeParcela(parcela.id)"><i class="icon ion-trash-a"></i></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="tabs tabs-dark">
        <a class="tab-item" ng-click="parcelas.toggleAll()">
            <i class="icon ion-checkmark-circled"></i> Todas
        </a>
        <a class="tab-item" ng-click="parcelas.showFilterDialog()">
            <i class="icon ion-search"></i> Buscar
        </a>
        <a class="tab-item" ng-href="#/app/actions">
            <i class="icon ion-ios-more"></i> Acciones
        </a>
    </div>
</ion-view>