/* Custom CSS */
ion-item:last-child {
    margin-bottom:49px;
}

.no-margin {
	margin: 0 !important;
}

/* Different color for each row */
ion-item.parcela {
	width: 100%;
}

ion-item.parcela > div {
	height: 96px;
}

ion-item.green-item-list > div {
	background: #EEF0E0 !important;
}

/* Ionic CSS hacks */
.popup-body {
	overflow: auto;
}